Options +FollowSymlinks

# To redirect all web app routes to index.html when in production or on backend server.
RewriteEngine on
RewriteCond %{REQUEST_URI} !\.(gif|jpe?g|png|css|js)$
RewriteRule .* index.html [NC]