Options +FollowSymlinks

# To redirect all web app routes to app.html when in production or on backend server.
RewriteEngine on

RewriteRule ^/?$ index.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* app.html [L]
