@import './../vars'

.dashboard
  position: relative
  height: 100%

.dashboard-title
  margin-top: 0

.previous-issues
  max-width: 50em
  width: 100%

.issue-date
  white-space: nowrap

.issue-row-header
  position: relative

.issue-share
  position: absolute
  right: 0
  top: 0
  visibility: hidden
  opacity: 0
  transition: $transition-fade-to-invisible
  .issue-row:hover &
    opacity: 1
    visibility: visible
    transition: $transition-fade-to-visible

@media (max-width: $small-width)
  .issue-date,
  .issue-subject
    display: block
    padding: 0 !important
    appearance: none
    margin-bottom: 1em

  .issue-date
    margin-top: 2em