$font-size: 17px
$font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif
$line-height-factor: 1.6
$line-height: $font-size * $line-height-factor

$small-font-size: 14px

$margin: 20px
$horizontal-space: 7px

@mixin absolute-center()
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)